<div class="ember-password-toggle-wrapper {{wrapperClass}} {{if isTypeText "visible" "hidden"}}">
  <button
    class="ember-password-toggle-btn {{buttonClass}}"
    type="button"
    onclick={{action "toggleInputType"}}
    tabindex="-1"
    data-click="pw-btn"
    data-pw="show">{{if isTypeText "Hide" "Show"}}</button>

    {{#if hasBlock}}
      {{yield (hash
        tabindex=tabindex
        placeholder=placeholder
        password=password
        maxlength=maxlength
        autofocus=autofocus
        autocapitalize=autocapitalize
        autocomplete=autocomplete
        autocorrect=autocorrect
        spellcheck=spellcheck
        type=type
      )}}
    {{else}}
      <input
      type={{type}}
      id={{inputId}}
      class="ember-password-toggle-input {{inputClass}}"
      tabindex={{tabindex}}
      placeholder={{placeholder}}
      value={{password}}
      maxlength={{maxlength}}
      autofocus={{autofocus}}

      autocapitalize={{autocapitalize}}
      autocomplete={{autocomplete}}
      autocorrect={{autocorrect}}
      spellcheck={{spellcheck}}

      oninput={{action (mut password) value="target.value"}}
      >
    {{/if}}
</div>